    <div class="list-group">
      <!-- adding filter attribute -->
      
      <div class="form-group">
    	<label>Search</label><input class="form-control" type="text" ng-model="query" placeholder="Input the search word" />
    	<label>Sort by:</label>
		<select ng-model="orderProp" class="form-control">
		  <option value="name">Alphabetical</option>
		  <option value="rarity">Rarity</option>
		</select>
    <a href="#/home" class="btn btn-success">To home</a>
      </div>
      <!-- In " | filter:query" we use added filter attribute.-->
      <div class="list-group-item" ng-repeat="product in products | filter:query | orderBy:orderProp">

      	<!-- title vs price -->
        <h3>{{product.name}} <em class="pull-right">{{product.price | currency}}</em></h3>		
		<!-- gallery -->
		<product-gallery></product-gallery>
        <!-- tabs -->
        <product-tabs></product-tabs>
      
      </div>
    </div>