html{
	height: 100%;
}
body{
	height: 100%;
}
/*navabar header*/
.logo-gem{
	width: 48px;
	height: 48px;
	float: left;
}
.icon-bar{
	background-color: grey;
}
.header-wrap{
	border-bottom: 1px solid black;
}
nav>li{
	position: relative;
}
nav li{
	cursor: pointer;
}
nav li ul{
	position: absolute;
	opacity: 0;
	z-index: -10;
}
nav li:hover ul{
	display: block;
	position: absolute;
	z-index: 2;
	width: 100%;
	padding: 0;
	background-color: white;
	box-shadow: 1px 2px 2px grey;
	-webkit-box-shadow: 1px 1px 2px grey;
	-moz-box-shadow: 1px 1px 2px grey;
	-ms-box-shadow: 1px 1px 2px grey;
	list-style: none;
	opacity: 1;
	z-index: 10;
	-webkit-transition: opacity .5s;
	-moz-transition: opacity .5s;
	-ms-transition: opacity .5s;
	transition: opacity .5s;
}
nav li ul>li{
	padding: 5px;
	border-bottom: 1px solid grey;
}
nav li ul>li:hover{
	background-color: rgba(4,4,4,.1);
	cursor: pointer;
}
nav li ul>li>a{
	text-transform: capitalize;
	text-decoration: none;
	color: black;
	display: block;
	width: 100%:;
}
nav li ul>li>a:hover{
	text-decoration: none;
}
@media screen and (max-width: 767px) {
    nav li:hover ul{
		right: -100%;
		top: 0;
	}
}


/*main*/
.main{
	min-height: 87%;
}
.category-name{
	text-transform: capitalize;
	text-align: center;
}
.mag{
	width: 100%;
}
.mag-says{
	padding-top: 120px;
}
.select-panel{
 	padding: 10px;
 	margin-bottom: 10px;
 	background-color: rgba(250, 95, 0, 0.51);
}
.s-6{
	min-height: 70%;
}
.products-list{
	list-style: none;
	padding-left: 0;
}
.item-product{
	overflow: auto;
	padding: 10px;
	height: 330px;
	transition: transform 0.3s;
	-webkit-transition: transform 0.3s;
	-moz-transition: transform 0.3s;
	-ms-transition: transform 0.3s;
}
.item-product:hover{
	transform: scale(1.006);
	-webkit-transform: scale(1.006);
	-moz-transform: scale(1.006);
	-ms-transform: scale(1.006);
	cursor: pointer;
}
.item-product .product-name{
	border-bottom: 1px solid rgba(1,1,1,.3);
	padding: 0 0 10px 10px;
}
.item-product img{
	width: 100%;
}
.item-product-wrap{
	width: 100%;
	height: 100%;
	overflow: auto;
	border: 1px solid grey;
	border-radius: 6px;
	padding: 10px 10px 0 10px;
	box-shadow: 1px 2px 2px grey;
	-webkit-box-shadow: 1px 2px 2px grey;
	-moz-box-shadow: 1px 2px 2px grey;
	-ms-box-shadow: 1px 2px 2px grey;
}
.edit-product{
	overflow: auto;
}
.detail-product img{
	width: 100%;
}
.haracters-product{
	border-radius: 5px;
	background-color: rgba(4,4,4,.1);
	padding: 10px;
	margin-top: 30px;
}
.item-thing-galery{
 	display: block;
  	float: left;
 	width: 100%;
 	list-style: none;
 	padding-left: 0;
 	padding-top: 20px;
 }
 .item-thing-galery>li{
 	display: block;
 	float: left;
 	width: 33%;
  	padding-left: 2px;
  	cursor: pointer;
  	transition: transform 0.3s;
	-webkit-transition: transform 0.3s;
	-moz-transition: transform 0.3s;
	-ms-transition: transform 0.3s;
 }
  .item-thing-galery>li:hover{
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
  }
 .item-thing-galery>li>img{

 }

/*footer*/
footer{
	background-color: rgba(5,5,5,.2);
	padding: 20px 20px 0 20px;
}
footer .container>p{
	line-height: 30px;
	text-align: center;
}

/*angular animate*/
.ng-enter{
	transition: 0.75s;
	opacity: 0;
}
.ng-enter-active{
	opacity: 1;
}
.ng-leave{}
.ng-leave-active{}
/*/angular animate*/



/*general styles*/
.list-group, .s-6, .info-routes{
	max-width: 600px;
	margin: 0 auto;
}

/*galery styles*/
.img-wrap img{
	display: block;
	width: 70%;
	margin: 0 auto;
}
.img-thumbnails{
	width: 260px;
	padding: 10px 0;
	display: block;
	margin: 0 auto;
}
.small-image{
	margin-right: 5px !important;
}
.small-image img{
	  width: 70px;
}

/*reviews styles*/
product-reviews ul{
	list-style: none;
}

/*validate-form style*/
.ng-dirty.ng-invalid{
	border-color: #FA787E;
}
.ng-dirty.ng-valid{
	border-color: #78FA89;
}
.btn{
	  margin: 20px 0 !important;
}

/*.main{
	-webkit-transition: all 0.15s ease-in-out 0s;
	-moz-transition: all 0.15s ease-in-out 0s;
	-o-transition: all 0.15s ease-in-out 0s;
	transition: all 0.15s ease-in-out 0s;
}
.item-product{
	-webkit-transition: all 0.15s ease-in-out 0s;
	-moz-transition: all 0.15s ease-in-out 0s;
	-o-transition: all 0.15s ease-in-out 0s;
	transition: all 0.15s ease-in-out 0s;
}
.ng-enter, .ng-leave, .ng-hide, .ng-show{
	opacity: 0;
	height: 0px;
}
.ng-enter-active, .ng-leave-active{
	opacity: 1;
}*/